results/*.png
results/*.jp*
results/*.gif
!results/.gitkeep

checkpoints/*.index
checkpoints/*.data*
checkpoints/*
!checkpoints/.gitkeep

data/embeddings/*.npy
!data/embeddings/.gitkeep

data/ground_truth/*.npy
!data/ground_truth/.gitkeep

data/ingame_images/*
!data/ingame_images/.gitkeep

data/labelling_aid/*
!data/labelling_aid/.gitkeep

*.pb
graph_saved_model/*

data/*.json
Todo
exp.py
.vscode
__pycache__